<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/service.css">
</head>
<body>
    <section id="services">
        <h1>Services</h1>
         <div class="cantainer">
            <div class="service">
                <div class="facilities-p">
                    <ul>
                      <li>1 → Comfortable seating</li>
                      <li>2 → Free Wi-Fi</li>
                      <!-- <li>Power outlets for charging devices</li> -->
                      <!-- <li>TV and entertainment options</li> -->
                      <!-- <li>Clean and hygienic environment</li> -->
                      <li>3 → Food ordering and delivery</li>
                      <!-- <li>Refreshments and beverages</li> -->
                      <li>4 →  Restrooms and shower facilities</li>
                    </ul>
         
                    <a href="/shetbook" class="btn">Read more</a>
                </div>
             
                
            </div>
         </div>
    </section>
</body>
</html>