<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Swiper demo</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
  <!-- Link Swiper's CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />

  <link rel="stylesheet" href="/stylesheets/slider.css">

 
</head>

<body>
  <!-- Swiper -->
  <div class="swiper mySwiper">
   
    <div class="swiper-wrapper">
      
      <div class="swiper-slide">
        
        <img src="/images/WhatsApp Image 2023-07-17 at 14.41.10.jpg" alt="">
        <div class="box">
          <h1>
            → Hello ji ←
            <br>
            Check the status 
            <br>
            How to book seats
          </h1>
        </div>
      </div>

      <div class="swiper-slide">
        <img src="/images/WhatsApp Image 2023-07-17 at 14.41.13.jpg" alt="">
        <div class="box">
          <h1>
            1.  First Select the station after that
            <br> <br>
            2.  Select the check-in-time according to your need.
            <br> <br>
            3.  And then Select the check-out time. 
          </h1>
        </div>
      </div>

      <div class="swiper-slide">
        <img src="/images/WhatsApp Image 2023-07-17 at 14.41.14.jpg" alt="">
        <div class="box">
          <h1>
            And click to <span> Book my Seat </span>
            <br>
            😎
          </h1>
        </div>
      </div>
    </div>
   
   
  </div>

  <!-- Swiper JS -->
  <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>

  <!-- Initialize Swiper -->
  <script>
    var swiper = new Swiper(".mySwiper", {
      spaceBetween: 30,
      centeredSlides: true,
      loop:true,
      autoplay: {
        delay: 4500,
        disableOnInteraction: false,
      },
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
    });
  </script>
</body>

</html>
