body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

.functions {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5vw;
  /* border: 2px solid black; */
  color: black;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 7vw;
  box-sizing: border-box;
  background-image: url('/images/WhatsApp Image 2023-07-17 at 14.41.10.jpg');
  background-size: cover;
}
.main_img{
  display: flex;
  gap: 10px;

}
.main_img .box{
  padding: 2vh 1vw;
  width: 18vw;
  /* height: 30vh; */
  box-shadow: 0 7px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #ffffffa9;
  border-bottom-right-radius: 30px;
  border-top-left-radius: 30px;
}
.box img{
  margin-top: 1vh;
  width: 100%;
  height: 20vh;
  border-radius: 50%;
}
.box h1{
  text-align: center;
}
.box h2{
  text-align: center;
  margin-top: 5vh;
}

.choice{
  padding: 2vh 1vw;
  background-color: white;
  width: 80vw;
  display: flex;
  flex-wrap: wrap;
  border-radius: 30px;
}

.choice label {
   flex: 1 1 10%;
  margin-bottom: 15px;
  display: flex;
  padding: 0 1vw;
  margin-top: 0.7vw;
  font-weight: 400;
  font-size: 20px;
}

.choice select,
.choice input {
  flex: 1 1 10%; 
  padding: 10px;
  margin-bottom: 10px;
  margin-right: 2vw;
  border: 2px solid #e3dcdc;
  /* border-radius: 5px; */
  font-size: 15px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
}

.choice button {
  background-color: #13b783;
  color: #fff;
  padding: 0px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  transition: cubic-bezier(0.19, 1, 0.22, 1)1s;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
}

.choice button:hover {
  background-color:  #15af4d;
  scale: 1.01;
}




@media (max-width: 992px) {
  .choice {
    max-height: 600px;
    min-height: initial;
  }
  .choice label {
    flex: 1 1 100%; 
  }
  .choice button {
    flex: 0 0 auto;
  }
  .choice select,
.choice input {
   flex: 1 1 100%; 
}
.choice label{
  font-size: 3.3vw;
}
.choice button {
  background-color: #61e3ba;
  color: #fff;
  padding: 10px 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  transition: cubic-bezier(0.19, 1, 0.22, 1)1s;
}

} 